.fitlerForm {
  margin-bottom: 10px;
  input {
    width: 100%;
  }
}
.groupList{
    margin-bottom: 70px;
}
.container {
 padding:0 25px;
 
  height: 100%;
  @media screen and (max-width:500px) {
   padding:0 5px;
  }
}
.bulkContainer {
    bottom:0;
    width: 100%;
    left:0;
    position: absolute;
    background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.groupButtonBulk {
  button:first-child {
    margin-right: 10px;
    background-color: #2196f3;
  }
  button:last-child {
    margin-right: 10px;
    background-color: var(--danger-button);
  }
  button {
    padding: 10px 0;
    min-width: 110px;
    min-height: 36px;
    color: white;
    border-radius: 5px;
    border: none;
  }
  @media screen and  (max-width:400px) {
    display: flex;
    flex-direction: column;
    button{
      margin:0;
      width: 100%;
      &:first-child{
        margin-bottom: 4px;
      }
    }
  }
}
